---
layout: base
---

<h1>stv ⭐</h1>

<p>i&apos;m <strong>stv</strong> <small>(he/they)</small>. i write everything in lowercase.</p>

<p><strong>web dev</strong>, <strong>game dev</strong> , and <strong>sci fi writing</strong> since like <em>2002</em> or something</p>

{{#if collections.posts}}
	<h2>posts</h2>

	{{> postsList}}
{{/if}}

{{#each lists}}
	<h2>{{title}}</h2>
	<ul>
		{{#each items}}
		<li>
			{{#if link}}
				<a 
					href="{{link}}" 
					class="link-title" 
					target="_blank"
					{{#if external}}rel="noopener noreferrer"{{/if}}
				>
					{{name}}
					{{#if external}} {{> externalIcon}}{{/if}}
				</a>
			{{else}}
				<span class="link-title">{{name}}</span>
			{{/if}}
			{{#if links}}
				<span class="links">
				(
					{{#each links}}
						{{#if @index}}, {{/if}}
						<a
							href="{{link}}"
							target="_blank"
							{{#if external}}rel="noopener noreferrer"{{/if}}
						>
							{{title}}
							{{#if external}} {{> externalIcon}}{{/if}}
						</a>
					{{/each}}
				)
				</span>
			{{/if}}
			{{#if desc}}
				<p class="desc">
					{{{desc}}}
				
				{{#if tags}}
					<br/>
					<span class="tags">
						{{#each tags}}
							<span class="tag">{{.}}</span>
						{{/each}}
					</span>
				{{/if}}
				</p>
			{{/if}}
		</li>
		{{/each}}
	</ul>
{{/each}}
