---
layout: base
---
{{#*inline "nav"}}
<a href="/">â† home</a>
{{~/inline}}

{{#if includehighlight}}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/a11y-dark.min.css">
{{/if}}
<div class="header">
	{{> nav}}
</div>
<div class="blog-content">
	<article>
		<small class="date">{{prettydate page.date}}</small>
		<h1>{{title}}</h1>
		{{#if subtitle}}<p class="subtitle">{{subtitle}}</p>{{/if}}
		{{{ content }}}
	</article>
	<aside>
	{{{ toc content }}}
	</aside>
</div>
<div class="footer">
	{{> nav}}
	{{#if includehighlight}}
	<script src="/assets/js/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	{{/if}}
</div>