---
layout: base
---

{{#if includehighlight}}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/a11y-dark.min.css">
{{/if}}
<div class="header">
	{{> nav}}
	{{#if draft}}
		<div class="warning">This is a draft post! Set <code>draft: false</code> or remove the key from your post frontmatter to publish it live</div>
	{{/if}}
</div>
<div class="blog-content">
	<article>
		<small class="date">{{prettydate page.date}}</small>
		<h1>{{title}}</h1>
		{{#if subtitle}}<p class="subtitle"><strong>{{subtitle}}</strong></p>{{/if}}
		{{{ content }}}
	</article>
	<aside>
	{{{ toc content }}}
	</aside>
</div>
<div class="footer">
	<br/>
	{{> nav}}
	{{#if includehighlight}}
	<script src="/assets/js/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	{{/if}}
</div>