

{{#*inline "link"}}
<a href="{{link}}" {{#if linkTitle}}class="link-title"{{/if}} target="blank" {{#if external}}rel="noopener noreferrer"{{/if}}>{{title}}{{#if external}} {{>externalIcon }}{{/if}}</a>
{{~/inline}}

{{#*inline "listItems"}}
{{#items}}
<li>
	{{#if link}}{{> link title=name linkTitle=true}}
	{{else}}<span class="link-title">{{name}}</span>{{/if}}
	{{#if links}}
	<span class="links">
	(
		{{~#links}}{{#if @index}}, {{/if}}{{> link}}{{/links~}}
	)
	</span>
	{{/if}}
	{{#if desc}}
	<p class="desc">{{{desc}}}</p>
	{{/if}}
</li>
{{/items}}
{{/inline}}

{{#lists}}
	<h2>{{title}}</h2>
	<ul>
		{{> listItems}}
	</ul>
	{{#sublists}}
		<h3>{{title}}</h3>
		<ul>
			{{> listItems}}
		</ul>
	{{/sublists}}
{{/lists}}